<template>
    <nav class="navbar navbar-expand-sm navbar-light bg-info">
      <div class="container">
        <router-link to="/" class="navbar-brand text-white">Bookstore</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <!-- <template v-if="!currentUser">
              <router-link to="/login" class="nav-item nav-link active text-white">Login</router-link>
            </template> -->
            <!-- <template>
              <router-link to="/books" class="nav-item nav-link active text-white">Books</router-link>
              <a class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{currentUser.name }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#" @click.prevent="logout">Logout</a>
                </div>
              </a>
            </template>
            <a class="" href="/login"></a> -->
          </div>
        </div>
      </div>
    </nav>
</template>

<script>
  export default {
    name: "Header",
    methods: {
      logout() {
        this.$store.commit('logout');
        this.$router.push('/login');
      }
    },
    computed: {
      currentUser() {
        return this.$store.getters.currentUser
      }
    }
  }
</script>

<style scoped>

</style>