<template>
  <div class="container mt-5">
    <div class="row">
      <div class="card mx-auto">
        <div class="card-header">
          Authentication
        </div>
        <div class="card-body">
          <h5 class="card-title">Please login to proceed</h5>
          <p class="card-text text-muted">Login: user & Password: pass</p>
          <a href="#" class="btn btn-primary">Login</a>
        </div>
      </div>
      <!--<h2>{{ welcome }}</h2>-->
    </div>
  </div>
</template>

<script>
  export default {
    name: "Home",
    computed: {
      welcome () {
        return this.$store.getters.welcome
      }
    }
  }
</script>

<style scoped>

</style>