<template>
    <div id="main">
      <Header/>
      <div class="content">
        <router-view></router-view>
      </div>
    </div>
</template>

<script>
    import Header from './header.vue'
    export default {
        name: 'main-app',
        components: {Header},
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
