<template>
  <div class="container">
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Year</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <template v-if="!books.data">
        <tr>
          <td colspan="5" class="text-center">No Books Available</td>
        </tr>
      </template>
      <template v-else>
        <tr v-for="book in books.data" :key="book.id">
          <td>
            <router-link :to="`/author/${book.author_id}`">{{ book.author.name }}</router-link>
          </td>
          <td>{{ book.title }}</td>
          <td>{{ book.year }}</td>
          <td>
            <router-link :to="`/book/${book.id}`">View Book</router-link>
          </td>
        </tr>
      </template>
      </tbody>
    </table>
    <ul class="pagination">
      <li v-if="currentPage != 1" class="page-item" @click="goToFirstPage()"><a class="page-link">First Page</a></li>
      <li v-if="currentPage != 1 && prevPageUrl != null" class="page-item" @click="goToPrevPage()" ><a class="page-link">Prev</a></li>
      <li v-if="nextPageUrl != null" class="page-item" @click="goToNextPage()"><a class="page-link">Next</a></li>
      <li v-if="firstPageUrl != lastPageUrl" class="page-item" @click="goToLastPage()"><a class="page-link">Last</a></li>
    </ul>
    <!-- <pagination :data="books" @pagination-change-page="books"></pagination> -->
  </div>
</template>

<script>
  export default {
    name: "authors-a-z",
    mounted() {
      this.getBooks();
    },
    data() {
      return {
        books : [],
        currentPage : 1,
        firstPageUrl : null,
        nextPageUrl : null,
        prevPageUrl : null,
        lastPageUrl : null,
      }
    },
    methods : {
      getDataForUrl(url) {
        axios.get(url)
            .then((resp) => {
              this.books = resp.data.books
              this.currentPage = resp.data.books.current_page
              this.firstPageUrl = resp.data.books.first_page_url
              this.nextPageUrl = resp.data.books.next_page_url
              this.prevPageUrl = resp.data.books.prev_page_url
              this.lastPageUrl = resp.data.books.last_page_url
            })
      },
      getBooks() {
        this.getDataForUrl('/api/books/authors-a-z');
      },
      goToFirstPage() {
        this.getDataForUrl(this.firstPageUrl)
      },

      goToPrevPage() {
        this.getDataForUrl(this.prevPageUrl)
      },

      goToNextPage() {
        this.getDataForUrl(this.nextPageUrl)
      },

      goToLastPage() {
        this.getDataForUrl(this.lastPageUrl)
      },
    }
  }
</script>

<style scoped>

</style>