<template>
  <div v-if="book" class="container">

    <h2>Book Title: {{ book.title }} </h2>
    <h4>Book Year:{{ book.year }} </h4>
    <h6>Book Description{{ book.description }}</h6>

  </div>
</template>

<script>
  export default {
    name: "books-book",
    mounted() {
      this.getBooks();
    },
    data() {
      return {
        book : null
      }
    },
    methods : {
      getDataForUrl(url) {
        axios.get(url)
            .then((resp) => {
              this.book = resp.data.book
            })
      },
      getBooks() {
        this.getDataForUrl('/api/books/book/' + this.$route.params.id);
      },
      goToFirstPage() {
        this.getDataForUrl(this.firstPageUrl)
      },

      goToPrevPage() {
        this.getDataForUrl(this.prevPageUrl)
      },

      goToNextPage() {
        this.getDataForUrl(this.nextPageUrl)
      },

      goToLastPage() {
        this.getDataForUrl(this.lastPageUrl)
      },
    }
  }
</script>

<style scoped>

</style>