<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card card-default">
          <div class="card-header">
            <div class="dropdown float-right">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By:
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <router-link to="/books-a-z" class="dropdown-item">Books A-Z</router-link>
                <router-link to="/books-z-a" class="dropdown-item">Books Z-A</router-link>
                <router-link to="/authors-a-z" class="dropdown-item">Authors A-Z</router-link>
                <router-link to="/authors-z-a" class="dropdown-item">Authors Z-A</router-link>
              </div>
            </div>
          </div>
          <div class="card-body">
            <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "books-main"
  }
</script>

<style scoped>

</style>