<template>
  <div class="container mt-5">
    <div class="row">
      <div class="card text-left mx-auto" style="width: 18rem;">
        <div class="card-body">
          <form @submit.prevent="authenticate">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" v-model="form.email">
              <small id="emailHelp" class="form-text text-muted">Login: test@gmail.com</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="form.password">
              <small id="passwordHelp" class="form-text text-muted">Password: pass4now</small>
            </div>
            <input type="submit" class="btn btn-primary" value="Login">
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {login} from '../../helpers/auth'
  export default {
    name: "Login",
    data() {
      return {
        form: {
          email: '',
          password: ''
        },
        error: null
      };
    },
    methods: {
      authenticate() {
        this.$store.dispatch('login');
        login(this.$data.form)
            .then((res) => {
              this.$store.commit("loginSuccess", res);
              this.$router.push({path: '/'});
            })
            .catch((error) => {
              this.$store.commit(("loginFailed", {error}))
            })
      }
    }
  }
</script>

<style scoped>

</style>